@import "~bourbon/app/assets/stylesheets/bourbon";

$box-size: 90vh;
$rings: 30;
$duration: 5s;
$lagdelay: 1.25;

.os {
  &_screensaver {
    &_rings {
      background: black;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &_container {
        width: $box-size;
        height: $box-size;
        position: relative;
      }
    }
  }
}

.ring {
  margin: 0 auto;
  position: absolute;
  text-align: center;
}

@for $i from 1 through $rings {
  $perc: (($rings - $i) / $rings);

  @keyframes el-animate-#{$i} {
    0% {
      border-color: rgb(255 * $perc, 255 * $perc, 255 * $perc);
      transform: rotate3d(0, 0, 1, 0);
    }
    25% {
      border-color: rgb(255 * (1 - $perc), 125 * $perc, 255 * (1 - $perc));
      transform: rotate3d(0, 0, 1, 45deg);
    }
    75% {
      border-color: rgb(125 * $perc, 255 * (1 - $perc), 255 * $perc);
      transform: rotate3d(0, 0, 1, 135deg);
    }
    100%{
      border-color: rgb(255 * $perc, 255 * $perc, 255 * $perc);
      transform: rotate3d(0, 0, 1, 180deg);
    }
  }

  .ring.el-#{$i} {
    $size: $box-size * $perc;

    border: 2px solid black;
    border-color: rgb(255 * $perc, 255 * $perc, 255 * $perc);
    left: ($box-size / 2) - ($size / 2);
    top: ($box-size / 2) - ($size / 2);
    width: $size;
    height: $size;
    border-radius: ($size * 0.35);

    animation: el-animate-#{$i} $duration linear;
    animation-delay: $lagdelay * ($duration * $perc);
    animation-iteration-count: infinite;
  }
}
