@import '../config';
@import '../z-indexes';

.os {
  &-idle {
    .os_navbar {
      display: none;
    }
  }
  &_navbar {
    color: black;
    height: $navBarHeight;
    width: 95vw;
    margin-left: 5vw;
    position: fixed;
    z-index: $z-index-navbar;

    &_content {
      display: flex;
      align-items: center;

      .clock {
        color: rgba(0,0,0,0.3);
        padding: 0;
        min-width: initial;
        margin-left: auto;
        .time {
          font-size: 1.4em;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
