@import '../config';
@import '../z-indexes';

.os {
  &-idle {
    .os_navbar {
      display: none;
    }
  }
  &_navbar {
    color: black;
    height: $navBarHeight;
    width: 100%;
    position: fixed;
    z-index: $z-index-navbar;

    &_content {
      display: flex;
      align-items: center;
    }
  }
}
