@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import '~react-joyride/lib/styles/react-joyride';
@import '~font-awesome/css/font-awesome.css';

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.os {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  &_wallpaper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}
