@import "~normalize.css";
@import "../z-indexes";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import '~react-clockwall/src/styles/main.css';

html, body {
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/quicksand/Quicksand-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

.os {
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
}
