@import "~normalize.css";
@import "../z-indexes";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import '~react-clockwall/src/styles/main.css';
@import '~font-awesome/css/font-awesome.css';

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.os {
  position: absolute;
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
